* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
    font-family: sans-serif;
}

.page {
    max-width: 760px;
    margin: 0 auto;
}

.post {
    margin: 1%;
    padding: 1.5%;
    background-color: #e0e4ff;
    border-radius: 5px;
    display: grid;
    grid-template: 1fr auto / 0.5fr minmax(75px, 0.5fr) 8fr 1fr;
    grid-column-gap: 2%;
}

.text {
    margin-bottom: 0.5%;
}

p {
    text-align: center;
}

.attachments {
    grid-column: 3 / span 1;
}

.check-wrapper {
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper {
    grid-column: -2 / span 1;
    grid-row: 1 / -1;
    text-align: right;
}

.anon-wrapper {
    grid-row: 1 / -1;
}

label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}

label > input[type=checkbox] {
    display: none;
}

.delete {
    width: 60px;
    height: 60px;
    margin-right: 0.5%;
    padding: 15px;
    background-color: #ff232b;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 1.5em;
    color: white;
}

.delete:hover {
    cursor: pointer;
    background-color: #d31c1f;
}

.delete:active {
    background-color: darkred;
}

.delete-many {
    padding: 15px;
    background-color: #ff232b;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 1.5em;
    color: white;
}

.delete-many:hover {
    cursor: pointer;
    background-color: #d31c1f;
}

.delete-many:active {
    background-color: darkred;
}

.post-all {
    padding: 15px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: #5d89ca;
    color: white;
}

.post-all:hover {
    cursor: pointer;
    background-color: #5780b1;
}

.post-all:active {
    background-color: #47658c;
}

.bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.top {
    border-radius: 0 0 20px 20px;
    padding: 15px;
    background-color: #e3f3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top > select {
    width: 60%;
}

label.public-select {
    margin-bottom: 10px;
}

p.no-content {
    margin: 20px;
}

@media only screen and (max-width: 640px) {
    .post {
        grid-template: repeat(3, 0.5fr) / repeat(3, 1fr);
        padding: 0;
        border-radius: 10px;
        grid-column-gap: 0;
    }

    input[type=checkbox] {
        display: none;
    }

    .check-wrapper {
        grid-row: 3 / -1;
        background-color: #83a0a6;
        border-radius: 0 0 0 10px;
        border: 1px solid whitesmoke;
        transition-duration: 300ms;
    }

    div.checked {
        background-color: #727290;
        transition-duration: 300ms;
    }

    .text {
        margin: 15px 15px 3% 15px;
        grid-column: 1 / -1;
    }

    .button-wrapper {
        grid-row: 3 / -1;
        grid-column: -2 / -1;
    }

    .attachments {
        margin: 0 15px;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    .delete {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: 1px solid whitesmoke;
        border-radius: 0 0 10px 0;
        font-size: 1.7em;
    }

    .anon-wrapper {
        grid-column: 2 / span 1;
        grid-row: -2 / -1;
    }

    label:not(.public-select) {
        background-color: ghostwhite;
        border: 1px solid whitesmoke;
        transition-duration: 300ms;
    }

    label.checked {
        background-color: #d6d6dd;
        transition-duration: 300ms;
    }

    .bottom > button {
        font-size: 1.2em;
    }
}